GisqRealEstate.ProDataSource/Web References/WebReference/FrameworkService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gisquest.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://gisquest.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gisquest.com/webservices/">
      <s:element name="LoginVerify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginVerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginVerifyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUserId">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUserInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoByDeptID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deptId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoByDeptIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoByDeptIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDepartments">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDepartmentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasPermission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="privilegeCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasPermissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HasPermissionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRolesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPrivileges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPrivilegesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPrivilegesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrivileges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="funcItemCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrivilegesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrivilegesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="staffName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userHostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginVerifySoapIn">
    <wsdl:part name="parameters" element="tns:LoginVerify" />
  </wsdl:message>
  <wsdl:message name="LoginVerifySoapOut">
    <wsdl:part name="parameters" element="tns:LoginVerifyResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUserId" />
  </wsdl:message>
  <wsdl:message name="GetAllUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetAllUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartmentInfo" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByDeptIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfoByDeptID" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByDeptIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoByDeptIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDepartments" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartment" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="HasPermissionSoapIn">
    <wsdl:part name="parameters" element="tns:HasPermission" />
  </wsdl:message>
  <wsdl:message name="HasPermissionSoapOut">
    <wsdl:part name="parameters" element="tns:HasPermissionResponse" />
  </wsdl:message>
  <wsdl:message name="GetRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="GetRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPrivilegesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPrivileges" />
  </wsdl:message>
  <wsdl:message name="GetAllPrivilegesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPrivilegesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPrivilegesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrivileges" />
  </wsdl:message>
  <wsdl:message name="GetPrivilegesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrivilegesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="WriteLogSoapIn">
    <wsdl:part name="parameters" element="tns:WriteLog" />
  </wsdl:message>
  <wsdl:message name="WriteLogSoapOut">
    <wsdl:part name="parameters" element="tns:WriteLogResponse" />
  </wsdl:message>
  <wsdl:message name="LoginVerifyHttpGetIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginVerifyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllUserIdHttpGetIn" />
  <wsdl:message name="GetAllUserIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllUserInfoHttpGetIn" />
  <wsdl:message name="GetAllUserInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentInfoHttpGetIn">
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByDeptIDHttpGetIn">
    <wsdl:part name="deptId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByDeptIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentsHttpGetIn" />
  <wsdl:message name="GetAllDepartmentsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentHttpGetIn">
    <wsdl:part name="projectCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HasPermissionHttpGetIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="privilegeCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HasPermissionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRolesHttpGetIn">
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRolesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllPrivilegesHttpGetIn">
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllPrivilegesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPrivilegesHttpGetIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="funcItemCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPrivilegesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetIn">
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WriteLogHttpGetIn">
    <wsdl:part name="staffName" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="userHostName" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="logType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WriteLogHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginVerifyHttpPostIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginVerifyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllUserIdHttpPostIn" />
  <wsdl:message name="GetAllUserIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllUserInfoHttpPostIn" />
  <wsdl:message name="GetAllUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentInfoHttpPostIn">
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByDeptIDHttpPostIn">
    <wsdl:part name="deptId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByDeptIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentsHttpPostIn" />
  <wsdl:message name="GetAllDepartmentsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentHttpPostIn">
    <wsdl:part name="projectCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HasPermissionHttpPostIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="privilegeCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HasPermissionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRolesHttpPostIn">
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRolesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllPrivilegesHttpPostIn">
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllPrivilegesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPrivilegesHttpPostIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="funcItemCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPrivilegesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostIn">
    <wsdl:part name="userID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WriteLogHttpPostIn">
    <wsdl:part name="staffName" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="userHostName" type="s:string" />
    <wsdl:part name="projectCode" type="s:string" />
    <wsdl:part name="logType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WriteLogHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="FrameworkServiceSoap">
    <wsdl:operation name="LoginVerify">
      <wsdl:input message="tns:LoginVerifySoapIn" />
      <wsdl:output message="tns:LoginVerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserId">
      <wsdl:input message="tns:GetAllUserIdSoapIn" />
      <wsdl:output message="tns:GetAllUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <wsdl:input message="tns:GetAllUserInfoSoapIn" />
      <wsdl:output message="tns:GetAllUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentInfo">
      <wsdl:input message="tns:GetDepartmentInfoSoapIn" />
      <wsdl:output message="tns:GetDepartmentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByDeptID">
      <wsdl:input message="tns:GetUserInfoByDeptIDSoapIn" />
      <wsdl:output message="tns:GetUserInfoByDeptIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <wsdl:input message="tns:GetAllDepartmentsSoapIn" />
      <wsdl:output message="tns:GetAllDepartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <wsdl:input message="tns:GetDepartmentSoapIn" />
      <wsdl:output message="tns:GetDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasPermission">
      <wsdl:input message="tns:HasPermissionSoapIn" />
      <wsdl:output message="tns:HasPermissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input message="tns:GetRolesSoapIn" />
      <wsdl:output message="tns:GetRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrivileges">
      <wsdl:input message="tns:GetAllPrivilegesSoapIn" />
      <wsdl:output message="tns:GetAllPrivilegesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivileges">
      <wsdl:input message="tns:GetPrivilegesSoapIn" />
      <wsdl:output message="tns:GetPrivilegesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <wsdl:input message="tns:WriteLogSoapIn" />
      <wsdl:output message="tns:WriteLogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FrameworkServiceHttpGet">
    <wsdl:operation name="LoginVerify">
      <wsdl:input message="tns:LoginVerifyHttpGetIn" />
      <wsdl:output message="tns:LoginVerifyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserId">
      <wsdl:input message="tns:GetAllUserIdHttpGetIn" />
      <wsdl:output message="tns:GetAllUserIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <wsdl:input message="tns:GetAllUserInfoHttpGetIn" />
      <wsdl:output message="tns:GetAllUserInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentInfo">
      <wsdl:input message="tns:GetDepartmentInfoHttpGetIn" />
      <wsdl:output message="tns:GetDepartmentInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByDeptID">
      <wsdl:input message="tns:GetUserInfoByDeptIDHttpGetIn" />
      <wsdl:output message="tns:GetUserInfoByDeptIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <wsdl:input message="tns:GetAllDepartmentsHttpGetIn" />
      <wsdl:output message="tns:GetAllDepartmentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <wsdl:input message="tns:GetDepartmentHttpGetIn" />
      <wsdl:output message="tns:GetDepartmentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="HasPermission">
      <wsdl:input message="tns:HasPermissionHttpGetIn" />
      <wsdl:output message="tns:HasPermissionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input message="tns:GetRolesHttpGetIn" />
      <wsdl:output message="tns:GetRolesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrivileges">
      <wsdl:input message="tns:GetAllPrivilegesHttpGetIn" />
      <wsdl:output message="tns:GetAllPrivilegesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivileges">
      <wsdl:input message="tns:GetPrivilegesHttpGetIn" />
      <wsdl:output message="tns:GetPrivilegesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoHttpGetIn" />
      <wsdl:output message="tns:GetUserInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <wsdl:input message="tns:WriteLogHttpGetIn" />
      <wsdl:output message="tns:WriteLogHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FrameworkServiceHttpPost">
    <wsdl:operation name="LoginVerify">
      <wsdl:input message="tns:LoginVerifyHttpPostIn" />
      <wsdl:output message="tns:LoginVerifyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserId">
      <wsdl:input message="tns:GetAllUserIdHttpPostIn" />
      <wsdl:output message="tns:GetAllUserIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <wsdl:input message="tns:GetAllUserInfoHttpPostIn" />
      <wsdl:output message="tns:GetAllUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentInfo">
      <wsdl:input message="tns:GetDepartmentInfoHttpPostIn" />
      <wsdl:output message="tns:GetDepartmentInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByDeptID">
      <wsdl:input message="tns:GetUserInfoByDeptIDHttpPostIn" />
      <wsdl:output message="tns:GetUserInfoByDeptIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <wsdl:input message="tns:GetAllDepartmentsHttpPostIn" />
      <wsdl:output message="tns:GetAllDepartmentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <wsdl:input message="tns:GetDepartmentHttpPostIn" />
      <wsdl:output message="tns:GetDepartmentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="HasPermission">
      <wsdl:input message="tns:HasPermissionHttpPostIn" />
      <wsdl:output message="tns:HasPermissionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input message="tns:GetRolesHttpPostIn" />
      <wsdl:output message="tns:GetRolesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrivileges">
      <wsdl:input message="tns:GetAllPrivilegesHttpPostIn" />
      <wsdl:output message="tns:GetAllPrivilegesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivileges">
      <wsdl:input message="tns:GetPrivilegesHttpPostIn" />
      <wsdl:output message="tns:GetPrivilegesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoHttpPostIn" />
      <wsdl:output message="tns:GetUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <wsdl:input message="tns:WriteLogHttpPostIn" />
      <wsdl:output message="tns:WriteLogHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FrameworkServiceSoap" type="tns:FrameworkServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginVerify">
      <soap:operation soapAction="http://gisquest.com/webservices/LoginVerify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserId">
      <soap:operation soapAction="http://gisquest.com/webservices/GetAllUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <soap:operation soapAction="http://gisquest.com/webservices/GetAllUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentInfo">
      <soap:operation soapAction="http://gisquest.com/webservices/GetDepartmentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByDeptID">
      <soap:operation soapAction="http://gisquest.com/webservices/GetUserInfoByDeptID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <soap:operation soapAction="http://gisquest.com/webservices/GetAllDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <soap:operation soapAction="http://gisquest.com/webservices/GetDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasPermission">
      <soap:operation soapAction="http://gisquest.com/webservices/HasPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://gisquest.com/webservices/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrivileges">
      <soap:operation soapAction="http://gisquest.com/webservices/GetAllPrivileges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivileges">
      <soap:operation soapAction="http://gisquest.com/webservices/GetPrivileges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://gisquest.com/webservices/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <soap:operation soapAction="http://gisquest.com/webservices/WriteLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FrameworkServiceHttpGet" type="tns:FrameworkServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LoginVerify">
      <http:operation location="/LoginVerify" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserId">
      <http:operation location="/GetAllUserId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <http:operation location="/GetAllUserInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentInfo">
      <http:operation location="/GetDepartmentInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByDeptID">
      <http:operation location="/GetUserInfoByDeptID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <http:operation location="/GetAllDepartments" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <http:operation location="/GetDepartment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasPermission">
      <http:operation location="/HasPermission" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <http:operation location="/GetRoles" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrivileges">
      <http:operation location="/GetAllPrivileges" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivileges">
      <http:operation location="/GetPrivileges" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <http:operation location="/WriteLog" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FrameworkServiceHttpPost" type="tns:FrameworkServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LoginVerify">
      <http:operation location="/LoginVerify" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserId">
      <http:operation location="/GetAllUserId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <http:operation location="/GetAllUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentInfo">
      <http:operation location="/GetDepartmentInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByDeptID">
      <http:operation location="/GetUserInfoByDeptID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <http:operation location="/GetAllDepartments" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <http:operation location="/GetDepartment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasPermission">
      <http:operation location="/HasPermission" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <http:operation location="/GetRoles" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrivileges">
      <http:operation location="/GetAllPrivileges" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivileges">
      <http:operation location="/GetPrivileges" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <http:operation location="/WriteLog" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FrameworkService">
    <wsdl:port name="FrameworkServiceSoap" binding="tns:FrameworkServiceSoap">
      <soap:address location="http://192.168.20.22/OA/WebServices/FrameworkService.asmx" />
    </wsdl:port>
    <wsdl:port name="FrameworkServiceHttpGet" binding="tns:FrameworkServiceHttpGet">
      <http:address location="http://192.168.20.22/OA/WebServices/FrameworkService.asmx" />
    </wsdl:port>
    <wsdl:port name="FrameworkServiceHttpPost" binding="tns:FrameworkServiceHttpPost">
      <http:address location="http://192.168.20.22/OA/WebServices/FrameworkService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>